/* .img{
   background: url(pexels-james-wheeler-417074.jpg);
   background-size: 1920px 1080px;
   

} */
.txt{
    text-align: center;
    vertical-align: middle;
    font-size: 42px;
}
.pra{
    font-size: 20px;
}
.form{
    
    display: none;
    color: blue;
    
    
}
a:hover{
    color: yellow;
}
